$lbh-global-styles: true;
@import "../node_modules/lbh-frontend/lbh/all";

.govuk-details {
    margin-bottom: 30px;
}

.lbh-button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0em;
    padding: 0.33em;
    border-radius: 4px;
    background: #00664f;
    font-size: 22px;
    font-size: 1.1875rem;
    font-weight: 400;
    padding: 10px 10px 10px 10px;
	font-size: 19px;
	line-height: 0.9rem;
    margin: 0;
}

.start-button {
    font-weight: bold;
}

.govuk-input--width-10 {
    max-width: 380px;
    margin-bottom: 10px;
}

.address-list-div {
    height: 50px;
}

.address-details-div {
    margin-top: 60px;
}

.results-div {
    margin-top: 60px;
}

.lbh-summary-list {
    margin-top: 30px;
}

.button-div{
    margin-top: 60px;
    margin-bottom: 20px;
}

.loading-text{
    font-style: italic;
    font-weight: $lbh-font-weight-light;
}

.js-enabled {
	
	// This fix prevents a horizontal scrollbar if the accordion is in an iframe
    .govuk-accordion__open-all {
		padding-right: 1px;
	  }
}